<!-- footer start -->
<section class="footer-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer-list">
                    <ul class="footer-ul">
                        <li class="footer-li footer-contact" data-animate="animate__fadeInUp">
                            <ul class="ftlist-ul">
                                <li class="ftlist-li">
                                    <h6 class="ftlist-title">Contact us</h6>
                                    <a href="#footer-store-information" class="ftlist-title" data-bs-toggle="collapse" aria-expanded="false">
                                        <span>Contact us</span>
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <ul class="ftcontact-ul collapse" id="footer-store-information">
                                        <li class="ftcontact-li">
                                            <div class="ft-contact-add ft-contact-place">
                                                <span class="ft-contact-icon"><i class="fa-solid fa-location-dot"></i></span>
                                                <span class="ft-contact-address">
                                                            <span>Jalan Universiti,</span>
                                                            <span>11700 Gelugor,</span>
                                                            <span>Pulau Pinang</span>
                                                        </span>
                                            </div>
                                        </li>
                                        <li class="ftcontact-li">
                                            <div class="ft-contact-add">
                                                <span class="ft-contact-icon"><i class="fa-solid fa-phone"></i></span>
                                                <a href="tel:011-3950 2751" class="ft-contact-address">011-3950 2751</a>
                                            </div>
                                        </li>
                                        <li class="ftcontact-li">
                                            <div class="ft-contact-add">
                                                <span class="ft-contact-icon"><i class="fa-solid fa-at"></i></span>
                                                <a href="mailto:ElexSync@gmail.com" class="ft-contact-address">ElexSync@gmail.com</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-li footer-menu" data-animate="animate__fadeInUp">
                            <ul class="ftlist-ul">
                                <li class="ftlist-li">
                                    <h6 class="ftlist-title">Information</h6>
                                    <a href="#footer-my-account" class="ftlist-title" data-bs-toggle="collapse" aria-expanded="false">
                                        <span>Information</span>
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <ul class="ftlink-ul collapse" id="footer-my-account">
                                        <li class="ftlink-li">
                                            <a href="#">About us</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Delivery information</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Privacy policy</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Terms & condition</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Brands</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-li footer-menu" data-animate="animate__fadeInUp">
                            <ul class="ftlist-ul">
                                <li class="ftlist-li">
                                    <h6 class="ftlist-title">My account</h6>
                                    <a href="#footer-extras" class="ftlist-title" data-bs-toggle="collapse" aria-expanded="false">
                                        <span>My account</span>
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <ul class="ftlink-ul collapse" id="footer-extras">
                                        <li class="ftlink-li">
                                            <a href="login-account.jsp">Login & register</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Order history</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Wishlist</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="../homepage.jsp">Newsletter</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.jsp">Specials</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-li footer-menu" data-animate="animate__fadeInUp">
                            <ul class="ftlist-ul">
                                <li class="ftlist-li">
                                    <h6 class="ftlist-title">Customer care</h6>
                                    <a href="#footer-products" class="ftlist-title" data-bs-toggle="collapse" aria-expanded="false">
                                        <span>Customer care</span>
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <ul class="ftlink-ul collapse" id="footer-products">
                                        <li class="ftlink-li">
                                            <a href="#">Contact us</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Return policy</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Sitemap</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Gift certificates</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.jsp">Affiliate</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="footer-li footer-menu" data-animate="animate__fadeInUp">
                            <ul class="ftlist-ul">
                                <li class="ftlist-li">
                                    <h6 class="ftlist-title">Electon legal</h6>
                                    <a href="#footer-legal" class="ftlist-title" data-bs-toggle="collapse" aria-expanded="false">
                                        <span>ElexSync legal</span>
                                        <span><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <ul class="ftlink-ul collapse" id="footer-legal">
                                        <li class="ftlink-li">
                                            <a href="#">Return policy</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Payment policy</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="collection.jsp">Adversting</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="create-account.jsp">Contact store</a>
                                        </li>
                                        <li class="ftlink-li">
                                            <a href="#">Help & support</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer end -->
<!-- footer-copyright start -->
<footer class="ft-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="ft-copyright">
                    <ul class="ft-copryright-ul">
                        <li class="ft-copryright-li ft-copyright-text">
                            <p>
                                <i class="fa fa-copyright"></i>
                                <span>2025 ecommerce by ElexSync</span>
                            </p>
                        </li>
                        <li class="ft-copryright-li ft-logo-image">
                            <a href="../homepage.jsp" class="theme-logo">
                                <img src="img/logo/ElexSync.png" class="img-fluid" alt="footer-logo">
                            </a>
                        </li>
                        <li class="ft-copryright-li ft-payment">
                            <ul class="payment-icon">
                                <li>
                                    <a href="../homepage.jsp">
                                        <img src="img/payment/pay1.png" class="img-fluid" alt="pay6">
                                    </a>
                                </li>
                                <li>
                                    <a href="../homepage.jsp">
                                        <img src="img/payment/pay2.png" class="img-fluid" alt="pay5">
                                    </a>
                                </li>
                                <li>
                                    <a href="../homepage.jsp">
                                        <img src="img/payment/pay3.png" class="img-fluid" alt="pay4">
                                    </a>
                                </li>
                                <li>
                                    <a href="../homepage.jsp">
                                        <img src="img/payment/pay4.png" class="img-fluid" alt="pay2">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-copyright end -->